<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <language value="zh-cn"/>
    <last-open>
        <li id="1" value="./projects/d.p7"/>
        <li id="2" value="./projects/e.p7"/>
        <li id="3" value="./projects/f.p7"/>
        <li id="4" value="./projects/c.p7"/>
        <li id="5" value="D:\Workspace\Java\editor\projects\untitled.p7"/>
    </last-open>
    <is-max-window value="false"/>
    <project-repository value="./projects/"/>
</settings>